@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*
 * Se configura el tipo de letra de la familia UnifrakturCook. Se intentó realizar la misma operación que
 * en la línea 1, pero esta fuente no la ofrece Google Fonts importándola directamente, sino por medio de
 * la descarga del propio tipo de letra.
*/
@font-face {
    font-family: UnifrakturCook;
    src: url("../assets/fonts/UnifrakturCook-Bold.ttf");
}
/*
 * Mixin para la creación de un Gris Básico
*/
/*
 * Mixin para la creación de un Item de un Grid Básico
*/
.encabezado__titulo {
    font: normal 3rem "UnifrakturCook";
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
@media (max-width: 320px) {
    .encabezado__titulo {
        font-size: 4rem;
    }
}
@media (max-width: 640px) {
    .encabezado__titulo {
        font-size: 3.5rem;
    }
}

.contenedor {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
}
.contenedor__elemento-uno {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
@media (max-width: 320px) {
    .contenedor__elemento-uno {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        position: relative;
        top: 1rem;
    }
}
.contenedor__elemento-dos {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}
@media (max-width: 320px) {
    .contenedor__elemento-dos {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
}
.contenedor__elemento-tres {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}
@media (max-width: 320px) {
    .contenedor__elemento-tres {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
        position: relative;
        top: -1rem;
    }
}
.contenedor__elemento-cuatro {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}
@media (max-width: 320px) {
    .contenedor__elemento-cuatro {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
        position: relative;
        top: -0.8rem;
    }
}
.contenedor__elemento-cinco {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
@media (max-width: 320px) {
    .contenedor__elemento-cinco {
        grid-row: 5 / span 1;
        grid-column: 1 / span 1;
        position: relative;
        top: -1.8rem;
    }
}
.contenedor__elemento-seis {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}
@media (max-width: 320px) {
    .contenedor__elemento-seis {
        grid-row: 6 / span 1;
        grid-column: 1 / span 1;
        position: relative;
        top: -2.8rem;
    }
}
.contenedor__imagen {
    max-width: 100%;
}
.contenedor__nombre {
    text-align: center;
    font: normal 0.8rem "Roboto";
    background-color: transparent;
    color: white;
}
.contenedor__nombre-superior {
    position: relative;
    top: -1rem;
    z-index: 5;
}
.contenedor__nombre-inferior {
    position: relative;
    top: -2.3rem;
    z-index: 5;
}
.contenedor__imagen {
    width: 100%;
    z-index: 1;
}
.contenedor__tipoImagen {
    width: 100%;
}
.contenedor__tipoImagen-superior {
    position: relative;
    top: 1.2rem;
}
@media (max-width: 320px) {
    .contenedor {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 2px;
        grid-column-gap: 2px;
    }
}

/*# sourceMappingURL=estilosActividad1.css.map */
